{% extends 'tareas/base.html' %}
{% block content %}

<div style="text-align: center; display: flex; align-items: center;" class="header-bar">
    <div style="text-align: left; display: flex; align-items: center;">
        <h2 class="icon-vw_logo-vw" style="color: white;">&nbsp; </h2>
        <a href="{% url 'home' %}"><h2>Espasa | Login</h2></a>

            
    </div>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <p>Su usuario es su CUIT / CUIL, sin espacios ni "-"</p>
        {{form.as_p}}
        <input class="button" type="submit" value="Login">
    </form>
    <!-- <p>No estas registrado? <a href="{% url 'registrarse' %}">Registrarse</a></p> -->
    <p>En caso de no estar registrado o no recordar su contraseña, pongase en contacto con el vendedor.</p>
</div>
{% endblock content %}