{% extends 'tareas/base.html' %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content %}
<div style="text-align: center; display: flex; align-items: center;" class="header-bar">
    <div style="text-align: left; display: flex; align-items: center;">
        <h2 class="icon-vw_logo-vw" style="color: white;">&nbsp; </h2>
        <a href="{% url 'home' %}"><h2>Espasa | Cambiar Contraseña</h2></a>

            
    </div>
</div>


<div class="card-body">
    <p>Se ha cambiado la contraseña, ya puede seguir completando la documentacion</p>

    <p><a href="{% url 'home' %}">Inicio</a></p>
</div>
{% endblock %}
