{% extends "tareas/base.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content %}

<div style="text-align: center; display: flex; align-items: center;" class="header-bar">
    <div style="text-align: left; display: flex; align-items: center;">
        <h2 class="icon-vw_logo-vw" style="color: white;">&nbsp; </h2>
        <a href="{% url 'home' %}"><h2>Espasa | Cambiar Contraseña</h2></a>

            
    </div>
</div>
   
<div class="card-body">
    <form method="post">
        {% csrf_token %}
        <p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>
        {{ form.email.errors }}
        <p for="id_email">{% translate 'Email address:' %}</p>
        {{ form.email }}
        <p></p>
        <input class="button" type="submit" value="{% translate 'Reset my password' %}">
    </form>
</div>



{% endblock %}
