{% extends 'tareas/base.html' %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset confirmation' %}
</div>
{% endblock %}

{% block content %}


<div style="text-align: center; display: flex; align-items: center;" class="header-bar">
    <div style="text-align: left; display: flex; align-items: center;">
        <h2 class="icon-vw_logo-vw" style="color: white;">&nbsp; </h2>
        <a href="{% url 'home' %}"><h2>Espasa | Cambiar Contraseña</h2></a>

            
    </div>
</div>

<div class="card-body">
    {% if validlink %}
    <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form method="post">{% csrf_token %}

        <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
        <h4>Usuario: </h4>
        <p>{{form.user.get_username}}</p>

            {{ form.new_password1.errors }}
            <p for="id_new_password1">{% translate 'New password:' %}</p>
            {{ form.new_password1 }}

            {{ form.new_password2.errors }}
            <p for="id_new_password2">{% translate 'Confirm password:' %}</p>
            {{ form.new_password2 }}

        <input style="margin-top:15px;" class="button" type="submit" value="{% translate 'Change my password' %}">

    </form>

    {% else %}

    <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}
</div>
{% endblock %}
