{% extends "tareas/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content %}

<div style="text-align: center; display: flex; align-items: center;" class="header-bar">
    <div style="text-align: left; display: flex; align-items: center;">
        <h2 class="icon-vw_logo-vw" style="color: white;">&nbsp; </h2>
        <a href="{% url 'home' %}"><h2>Espasa | Cambiar Contraseña</h2></a>

            
    </div>
</div>

<div class="card-body">
    <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

    <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
</div>
{% endblock %}
