{% extends 'tareas/base.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'preventas' %}">&#8592; Atras</a>
</div>

<div class="card-body">
    <h1>PV: {{form.preventa.value}}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button" type="submit" value="Guardar">
        
        {% if preventa.id %}
            <a href="{% url 'lista-tareas-preventa' pk=preventa_id %}" class="button">Tareas de la preventa</a>    
        {% endif %}    
    </form>
    
</div>

{% endblock content %}