{% extends 'tareas/base.html' %}
{% block content %}

<div class="header-bar">
    <div>
        <div >
            <h1>Hola {{request.user.first_name|title}}</h1>
            <u><a href="{% url 'home' %}"><h3 style="margin-right: 20px; display: flex;">Home</h3></a></u>
            <h3 style="margin:0"> Tenes {{cantidad}} tarea{{cantidad|pluralize:"s" }} pendientes</h3> 

        </div>
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Desconectarse</a>
    {% else %}
    <a href="{% url 'login' %}">Conectarse</a>
    {% endif %}

</div>

<!-- <div id="search-add-wraper">
    <form method="GET" style="margin-top: 20px;display:flex;">
        <input type="text" name="search-area" value="{{search_input}}">
        <input class="button" type="submit" value="Buscar">
    </form>

</div> -->

<div class="task-items-wraper">
    {% for tarea in tareas %}
        <div class="task-wraper">
            {% if tarea.completo %}
                <div class="task-title" >
                    <div class="task-complete-icon"></div>
                    <i><s><a href="{% url 'actualizar-tarea' tarea.id %}">{{tarea}}</a></s></i>

                </div>
                <a class="delete-link" href="{% url 'eliminar-tarea' tarea.id %}">&#215;</a>
            {% else %}
                <div class="task-title">
                    <div class="task-incomplete-icon"></div>
                    <a href="{% url 'actualizar-tarea' tarea.id %}">{{tarea}}</a>

                </div>           
                <a class="delete-link" href="{% url 'eliminar-tarea' tarea.id %}">&#128465;</a>
            
                {% endif %}

        </div>
        {% empty %}
        <h3>Sin tareas pendientes</h3>
        {% endfor %}

</div>

{% endblock content%}