{% extends 'tareas/base.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'tareas' %}">&#8592; Atras</a>
</div>

<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button" type="submit" value="Guardar">
        {% if form.descarga.value != "" and form.descarga.value is not none %}
            <input class="button" type="button" onclick="descargarArchivo('{{ form.descarga.value }}')" value="Descargar">
        {% endif %}
    </form>
</div>

<script>
    function descargarArchivo(url) {
        window.location.href = url;
    }
</script>


{% endblock content %}