{% extends 'tareas/base.html' %}
{% block content %}


<div style="text-align: center; display: flex; align-items: center;" class="header-bar">
    <a href="{% url 'tareas' %}">&#8592; Atras</a>
    <h2 class="icon-vw_logo-vw" style="color: white;"></h2>
</div>

<div class="card-body">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="elemento-oculto" style="display: none;">
            {{form.tipo_tarea}}
            {{form.pv}}
            {{form.user}}
            {{form.tipo_doc}}
            {{form.titulo}}
        </div>
        <h3 style="color: #001e50;">Preventa: {{numero_preventa}}</h3>
        <li>Tarea: {{form.titulo.value}}</li>
        <p></p>
        <li>Descripcion de la tarea: {{form.descripcion.value}} </li>
        
        <p></p>
        <li>Adjunto: {{form.adjunto}}</li>
        <p></p>
    
        <input class="button" type="submit" value="Guardar">
        {% if form.descarga.value != "" and form.descarga.value is not none %}
            <a class="button" href="{% url 'download_file' link %}">Descargar</a>
        {% endif %}
    </form>
</div>



{% endblock content %}