{% extends 'tareas/base.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'tareas' %}">&#8592; Atras</a>
</div>

<div class="card-body">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button" type="submit" value="Guardar">
        {% if form.descarga.value != "" and form.descarga.value is not none %}
            <p>{{form.descarga.value}}</p>
            <a class="button" href="{{ form.descarga.url }}">Descargar</a>
        {% endif %}
    </form>
</div>

<script>
    function descargarArchivo(url) {
        window.location.href = url;
    }
</script>


{% endblock content %}