{% extends 'tareas/base.html' %}
{% block content %}


<div style="text-align: center; display: flex; align-items: center;" class="header-bar">
    <div style="text-align: left; display: flex; align-items: center;">
        <h2 class="icon-vw_logo-vw" style="color: white;">&nbsp; </h2>
        <h2>Espasa</h2>
    </div>
    <div style="align-items: flex-star;">
        <h3 style="text-align: center;">{{request.user.first_name|title}}</h3>
    </div>
</div>

<div class="card-body" style="text-align: center;">
    <h4 style="text-align: center,; color:#001e50">Esta a la plataforma para autogestionar tanto la documentación como los pagos de la compra de tu auto 0km en ESPASA!</h4>
    <p></p>
    <a style="display: inline-block; width: 120px; margin-bottom: 5px; " href="{% url 'tareas' %}" class="button">Documentacion</a>
    <a style="display: inline-block; width: 120px; margin-bottom: 5px; " href="{% url 'pagos_preventa' %}" class="button">Pagos</a>
    <a style="display: inline-block; width: 120px; margin-bottom: 5px;" href="{% url 'preventas' %}" class="button">Operaciones</a>
    {% if request.user.is_authenticated %}
        {% if request.user.username == 'dnogues' %}
            <a style="display: inline-block; width: 120px; margin-bottom: 5px;" href="{% url 'get-boletos' %}" class="button">Actualizar Boletos</a>
        {% endif %}
        <p></p>
        <a href="{% url 'logout' %}" style="color: #001e50;">Desconectarse</a>
    {% else %}
        <a href="{% url 'login' %}">Conectarse</a>
    {% endif %}
</div>
{% endblock content %}