{% extends 'tareas/base.html' %}
{% block content %}
{% load humanize %}

<div class="header-bar">
    <div>
        <div >
            <h1>Hola {{request.user|title}}</h1>
            <u><a href="{% url 'pagos_preventa' %}"><h3 style="margin-right: 20px; display: flex;">Atras</h3></a></u>
            <h6 style="margin:0"><u>Aprobado:</u> ${{monto_aprobado|default:"0"|intcomma:2}} | <u>Pendiende:</u> ${{monto_pendiente|default:"0"|intcomma:2}} | <u>Rechazado:</u> ${{monto_rechazado|default:"0"|intcomma:2}}</h6> 

        </div>
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Desconectarse</a>
    {% else %}
    <a href="{% url 'login' %}">Conectarse</a>
    {% endif %}

</div>

<div id="search-add-wraper">
    <form method="GET" style="margin-top: 3px; display:flex;">
        <input type="text" name="search-area" value="{{search_input}}">
        <input class= 'button' type="submit" value="Buscar">
        
    </form>
    <a id="add-link" href="{% url 'crear-pago' %}">&#x2b;</a>
    
</div>


<div class="task-items-wraper">
    {% for pago in pagos %}
        <div class="task-wraper">
            {% if pago.estado == '2Aprobado' %}
                <div class="task-title">
                    <div class="task-complete-icon"></div>
                    <i><a href="{% url 'actualizar-pago' pk=pago.id %}">Comprobante: {{pago.numero_comprobante}} | ${{pago.monto|intcomma:2}} - Aprobado</a></i>
                </div>
            {% elif pago.estado == '3Rechazado' %}
                <div class="task-title">
                    <div class="task-rejected-icon"></div>
                    <s><a href="{% url 'actualizar-pago' pk=pago.id %}">Comprobante: {{pago.numero_comprobante}}</s> | ${{pago.monto|intcomma:2}} - Rechazado</a>

                </div>           
            {% else %}
                <div class="task-title">
                    <div class="task-incomplete-icon"></div>
                    <a href="{% url 'actualizar-pago' pk=pago.id %}">Comprobante: {{pago.numero_comprobante}} | ${{pago.monto|intcomma:2}} - En revision</a>

                </div>           
            {% endif %}       
        </div>

    {% empty %}
    <h3>No hay pagos Registrados</h3>
    {% endfor %}
</div>

{% endblock content%}
