{% extends 'tareas/base.html' %}
{% block content %}
{% load tz %}


<div class="header-bar">
    <a href="{% url 'pagos_preventa' %}">&#8592; Atras</a>
    
</div>



<div class="card-body">
    
    <h1>Comprobante</h1>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        <li>Preventa: {{form.preventa}}</li>
        <p></p>


        <li>Depositante difiere del titular? <input type="checkbox" id="mostrar_depositante_cuit" name="mostrar_depositante_cuit"> </li>
        
        
        <div id="campo_depositante_cuit" style="display:none;">
            <p></p>
            <li>DNI / CUIT / CUIL de Titular o CO-Titular de cuenta: {{ form.depositante_cuit }}</li>
            <p></p>
            
        </div>



        <p></p>
        <li>Fecha deposito: {{form.fecha_deposito}}</li>
        <p></p>
        <li>Tipo: {{form.tipo_deposito}}</li>
        <p></p>
        <li>Destino: {{form.banco_destino}}</li>
        <p></p>
        <li>Cuenta: {{form.cuenta}}</li>
        <p></p>
        <li>Numero Comprobante: {{form.numero_comprobante}}</li>
        <p></p>
        <li>Monto: {{form.monto}}</li>
        <p></p>
        <li>Comprobante: {{form.comprobante}}</li>
        <p></p>
        {% if form.estado.value == '3Rechazado' and form.motivo_rechazo.value != '' %}
            <li>Motivo de rechazo: {{form.motivo_rechazo.value}}</li>
        <p></p>
        {% endif %}
        <p></p>
        

        
        <div id="notificacion" style="display:block;">
            <hr>
            <h4>IMPORTANTE!</h4>
            <p>Por favor guardar el deposito original junto con la documentacion ya que va a ser solicitado en administracion.</p>
            <p>En caso de extravio deberá hacer una denuncia policial, por lo que recomendamos tenerlo en una carpeta con toda la documentacion</p>
            <hr>
        </div>
        <p>Acepto las condiciones <input type="checkbox" id="cerrar_notificacion" name="cerrar_notificacion"></p>

        <input id="boton_guardar" style="display: none;" class="button" type="submit" value="Guardar">
        
        
    </form>
    
</div>
<script>
    var mostrarCheckbox = document.getElementById("mostrar_depositante_cuit");
    var campoDepositanteCuit = document.getElementById("campo_depositante_cuit");

    mostrarCheckbox.addEventListener("change", function () {
        if (mostrarCheckbox.checked) {
            campoDepositanteCuit.style.display = "block";
        } else {
            campoDepositanteCuit.style.display = "none";
        }
    });
    var mostrarCheckbox_notificacion = document.getElementById("cerrar_notificacion");
    var notificacion = document.getElementById("notificacion");
    var boton_guardar=document.getElementById("boton_guardar")

    mostrarCheckbox_notificacion.addEventListener("change", function () {
        if (mostrarCheckbox_notificacion.checked) {
            notificacion.style.display = "none";
            boton_guardar.style.display = "block";
        } else {
            notificacion.style.display = "block";
            boton_guardar.style.display = "none";
        }
    });
</script>

{% endblock content %}
