{% extends 'tareas/base.html' %}
{% block content %}

<div style="text-align: center; display: flex; align-items: center;" class="header-bar">
    <div style="text-align: left; display: flex; align-items: center;">
        <h2 class="icon-vw_logo-vw" style="color: white;">&nbsp; </h2>
        <a href="{% url 'home' %}"><h2>Espasa | Cambiar Contraseña</h2></a>

            
    </div>
</div>

<div class="card-body">
    <form method="POST">
        <h2>Usuario:  {{request.user}} | {{request.user.first_name}}</h6>
        {% csrf_token %}
        {{form.as_p}}

        <input style="margin-top:10px;" class="button" type="submit" value="Guardar">
    </form>
</div>
{% endblock content %}