{% extends 'tareas/base.html' %}
{% block content %}


<div style="text-align: center; display: flex; align-items: center;" class="header-bar">
    <div style="text-align: left; display: flex; align-items: center;">
        <h2 class="icon-vw_logo-vw" style="color: white;">&nbsp; </h2>
        <a href="{% url 'home' %}"><h2>Espasa</h2></a>
            
    </div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Desconectarse</a>
    {% else %}
    <a href="{% url 'login' %}">Conectarse</a>
    {% endif %}
    
</div>

<div class="header-bar2">
    <div>
        <div >
            <h3 style="margin:0"> Tenes {{cantidad}} preventa{{cantidad|pluralize:"s" }} activa{{cantidad|pluralize:"s" }}</h3> 
        </div>
    </div>
</div>


<!-- <a href="{% url 'crear-tarea' %}">Crear Tarea</a>
<a href="{% url 'crear-preventa' %}">Crear Preventa</a>

<form method="GET">
    <input type="text" name="search-area" value="{{search_input}}">
    <input type="submit" value="Buscar">
</form> -->

<div class="task-items-wraper">
    {% for preventa in preventas %}
        <div class="task-wraper">
            {% if preventa.completo %}
                <div class="task-title">
                    <div class="task-complete-icon"></div>
                    <i><s><a href="{% url 'actualizar-preventa' pk=preventa.id %}">{{preventa.preventa}} | {{preventa.modelo}}</a></s></i>
                </div>
            {% else %}
                <div class="task-title">
                    <div class="task-incomplete-icon"></div>
                    <i><s><a href="{% url 'actualizar-preventa' pk=preventa.id %}">{{preventa.preventa}} | {{preventa.modelo}}</a></s></i>

                </div>           
            {% endif %}       
        </div>

    {% empty %}
    <h3>No tenes preventas activas</h3>
    {% endfor %}
</div>

{% endblock content%}
